<!DOCTYPE html>
{% extends "korjournal/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extra_javascript %}
<script src="/korjournal/js/moment.min.js"></script>
<link href="/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="/korjournal/css/editor.css" rel="stylesheet">
<script src="/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<script src="/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="/korjournal/js/editor.js?6"></script>
<meta name="why_typeahead" content='[{% for reason in odo_unique_reason %}"{{ reason.why }}",{% endfor %}"Okänt"]'>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block content %}
<h2>Mätarställningar</h2>

{% if odo_snap_list %}
<ul class="pagination pagination-sm">
    {% if odo_snap_list.has_previous %}
        <li><a href="?page={{ odo_snap_list.previous_page_number }}">nyare</a></li>
    {% else %}
            <li><a href="#" class="editor-link-disabled">nyare</a></li>
    {% endif %}
        <li><a href="#" class="editor-link-disabled">sidan {{ odo_snap_list.number }} av {{ odo_snap_list.paginator.num_pages }}</a></li>
    {% if odo_snap_list.has_next %}
        <li><a href="?page={{ odo_snap_list.next_page_number }}">äldre</a></li>
    {% else %}
        <li><a href="#" class="editor-link-disabled">äldre</a></li>
    {% endif %}
</ul>
<table class="table table-striped">
    <tr class="editor-table-header">
        <td class="col-xs-11 col-sm-11 col-md-11">
        <div class="col-xs-4 col-sm-2 col-md-1">Start/Mål</div>
        <div class="col-xs-5 col-sm-4 col-md-1 editor-vehicle-name-wrapper">Fordon</div>
        <div class="col-xs-12 col-sm-6 col-md-2">Km</div>
        <div class="col-xs-12 col-sm-12 col-md-2">Datum/Tid</div>
        <div class="col-xs-12 col-sm-12 col-md-3">Adress</div>
        <div class="col-xs-12 col-sm-12 col-md-3">Syfte</div>
        </td>
        <td class="col-xs-1 col-sm-1" style="vertical-align: middle">
            <div class="editor-delete-form-wrapper" style="margin-left: 2px;">Ta bort</div>
        </td>
    </tr>
    {% for odo_snap in odo_snap_list %}
    <tr>
        <td class="col-xs-11 col-sm-11">
            <p class="col-xs-4 col-sm-2 col-md-1">
            {% if odo_snap.editable %}
            <a href="#" class="type" id="startfin" data-type="select" data-pk="0" data-source="[{value: 1, text: 'Start'},{value: 2, text: 'Mål'}]" data-url="/api/odometersnap/{{ odo_snap.id }}/" data-title="Start eller Slut">
                {% if odo_snap.type == "1" %}
                  {% bootstrap_icon "play" %}
                {% else %}
                  {% bootstrap_icon "stop" %}
                {% endif %}
            </a>
            {% else %}
                <a href="#" class="btn" id="startfin" data-toggle="modal" data-target=".modal-read-only">
                {% if odo_snap.type == "1" %}
                  {% bootstrap_icon "play" %}
                {% else %}
                  {% bootstrap_icon "stop" %}
                {% endif %}
                </a>
            {% endif %}
            </p>
            <p class="col-xs-5 col-sm-4 col-md-1 editor-vehicle-name-wrapper">
            {% if odo_snap.editable %}
                <a href="#" class="vehicle" id="vehiclename" data-type="select" data-pk="0" data-value="{{ odo_snap.vehicle.id }}" data-source=
                    "[{% for vehicle in my_vehicles %}{value: {{ vehicle.id }}, text: '{{ vehicle.name }}'},{% endfor %}]"
                    data-url="/api/odometersnap/{{ odo_snap.id }}/" data-title="Fordon">{{ odo_snap.vehicle }}</a>
            {% else %}
                <a href="#" class="btn" id="vehiclename" data-toggle="modal" data-target=".modal-read-only">{{ odo_snap.vehicle }}</a>
            {% endif %}
            </p>
            <div class="col-xs-12 col-sm-6 col-md-2">
            {% if odo_snap.editable %}
                <a href="#" class="kilometer" id="odometer" data-type="text" data-pk="0" data-url="/api/odometersnap/{{ odo_snap.id }}/" data-title="Mätarställning"><b>{{ odo_snap.odometer }}</b></a>
                {% if odo_snap.odometerimage %}
                <div class="editor-odometer-image-wrapper">
                    <button type="button" class="btn" data-toggle="modal" data-target=".odoimage-modal-{{ odo_snap.odometerimage.id }}">
                    <img src="/media/{{ odo_snap.odometerimage.imagefile }}" alt="Radera bild" width=100%>
                    </button>
                </div>
                <div class="modal fade odoimage-modal-{{ odo_snap.odometerimage.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4>Bild på mätarställning</h4>
                            </div>
                            <div class="modal-body">
                                <img src="/media/{{ odo_snap.odometerimage.imagefile }}" alt="bild" width="100%">
                                <form action="{% url 'delete_odo_image' odo_snap.odometerimage.id %}" method="post" class="form">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                        Avbryt
                                    </button>
                                    <button type="submit" class="btn btn-danger">
                                        {% bootstrap_icon "remove" %} Radera?
                                    </button>
                                    <input type="hidden" name="paginator_page" value="{{ odo_snap_list.number }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    <br>
                {% endif %}
            {% else %}
                <a href="#" class="btn" id="odometer" data-toggle="modal" data-target=".modal-read-only"><b>{{ odo_snap.odometer }}</b></a>
                {% if odo_snap.odometerimage %}
                    <img src="/media/{{ odo_snap.odometerimage.imagefile }}" alt="Radera bild" width="100%">
                {% endif %}
            {% endif %}
        </div>
        <p class="col-xs-12 col-sm-12 col-md-2">
            {% if odo_snap.editable %}
                <a href="#" class="datetime" id="when" data-type="combodate" data-pk="0" data-url="/api/odometersnap/{{ odo_snap.id }}/" data-title="Datum/tid">{{ odo_snap.when|date:"Y-m-d" }} {{ odo_snap.when|time:"H:i" }}</a>
            {% else %}
                <a href="#" class="btn" id="when" data-toggle="modal" data-target=".modal-read-only">{{ odo_snap.when|date:"Y-m-d" }} {{ odo_snap.when|time:"H:i" }}</a>
            {% endif %}
        </p>
        <p class="col-xs-12 col-sm-12 col-md-3">
            {% if odo_snap.editable %}
                {% if odo_snap.where and odo_snap.where != "" %}
                    <a href="#" class="streetaddress" id="where" data-type="text" data-pk="0" data-url="/api/odometersnap/{{ odo_snap.id }}/" data-title="Gatuadress">{{ odo_snap.where }}</a>
                {% else %}
                    <a href="#" class="streetaddress" id="where" data-type="text" data-pk="0" data-url="/api/odometersnap/{{ odo_snap.id }}/" data-title="Gatuadress">Ingen adress</a>
                {% endif %}
            {% else %}
                <a href="#" class="btn" id="where" data-toggle="modal" data-target=".modal-read-only">
                    {{ odo_snap.where }}
                </a>
            {% endif %}
        </p>
        <p class="col-xs-12 col-sm-12 col-md-3">
            {% if odo_snap.type == "2" %}
                {% if odo_snap.editable %}
                <a href="#" class="reason" id="why" data-type="typeaheadjs" data-pk="0" data-url="/api/odometersnap/{{ odo_snap.id }}/" data-title="Ärende/kund">
                    {{ odo_snap.why }}
                </a>
                {% else %}
                <a href="#" class="btn" id="why" data-toggle="modal" data-target=".modal-read-only">
                    {{ odo_snap.why }}
                </a>
                {% endif %}
            {% endif %}
        </p>
        </td>
        <td class="col-xs-1 col-sm-1" style="vertical-align: middle">
        <div class="editor-delete-form-wrapper">
            {% if odo_snap.editable %}
            <form action="{% url 'delete_odo_snap' odo_snap.id %}" method="post" class="form">
                {% csrf_token %}
                <input type="hidden" name="paginator_page" value="{{ odo_snap_list.number }}">
                {% bootstrap_form form layout='inline' %}
                <button type="submit" class="btn btn-danger">
                    {% bootstrap_icon "remove" %}
                </button>
            </form>
            {% else %}
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Bara den som äger fordonet och den som laddat upp en mätarställning får radera.">
                {% bootstrap_icon "ban-circle" %}
                </button>
            {% endif %}
        </div>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="modal fade modal-read-only" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Kan inte ändra</h4>
            </div>
            <div class="modal-body">
                Endast den som laddat upp mätarställningen eller äger fordonet får ändra!
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">
                    Stäng
                </button>
            </div>
        </div>
    </div>
</div>
<ul class="pagination pagination-sm">
    {% if odo_snap_list.has_previous %}
        <li><a href="?page={{ odo_snap_list.previous_page_number }}">nyare</a></li>
    {% else %}
            <li><a href="#" class="editor-link-disabled">nyare</a></li>
    {% endif %}
        <li><a href="#" class="editor-link-disabled">sidan {{ odo_snap_list.number }} av {{ odo_snap_list.paginator.num_pages }}</a></li>
    {% if odo_snap_list.has_next %}
        <li><a href="?page={{ odo_snap_list.next_page_number }}">äldre</a></li>
    {% else %}
        <li><a href="#" class="editor-link-disabled">äldre</a></li>
    {% endif %}
</ul>
{% else %}
<p>
    Inga mätarställningar ännu
    <button type="button" class="btn btn-xs btn-info" data-toggle="tooltip" title="Använd appen i telefonen för att ladda upp mätarställningar.">
        <b>?</b>
    </button>

</p>
{% endif %}
{% endblock %}
