div.editor-delete-form-wrapper {
	padding: 5px 5px 5px 12px;
    border-left: 1px dashed;
}

div.editor-odometer-image-wrapper {
	max-width: 110px;
}

.editor-vehicle-name-wrapper {
	border: 1px solid lightgray;
	border-radius: 3px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

tr.editor-table-header {
	font-size: xx-small;
	font-weight: bold;
}

a.editor-link-disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.7;
}