.invoice-icon-box {
	text-align: center;
	margin-top: 25px;
}

.invoice-footer {
    border-top: 1px solid lightgrey;
    margin-top: 35px;
    padding-top: 5px;
    text-align: center;
    font-size: x-small;
}

.invoice-info-box {
	border: 1px solid pink;
	padding: 5px;
	background: rgb(0.1,1.0,1.0);
	font-weight: bold;
}

.invoice-address-edit {
	margin-bottom: 20px;
}

.invoice-empty-space {
	margin-bottom: 35px;
}