{% extends "korjournal/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    {% if form.errors %}
      <div class="alert alert-danger">
          <p>Mata in användarnamn (telefonnummer) och lösenord (kod från ditt sms)</p>
      </div>
    {% endif %}
        <form action="{% url 'django.contrib.auth.views.login' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
            <legend><span class="col-sm-offset-1">Logga in</span></legend>
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Logga in</button>
                  &nbsp;<button type="reset" class="btn">Avbryt</button>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p><a href="/register/">Återställ min personliga kod</a></p>
        <script type="text/javascript">
            if ((window.location.search.substr(1).split('&')[0]).split('=')[0] == 'phone')
            {
                var phone = (window.location.search.substr(1).split('&')[0]).split('=')[1];
                document.getElementById('id_username').value = phone;
            }
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[0].elements[1].focus();
        </script>
{% endblock %}
