{% extends "korjournal/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    {% if form.errors %}
      <div class="alert alert-danger">
          <p><strong>Fel!</strong> Mata in den femsiffriga koden</p>
      </div>
    {% endif %}
        <form action="{% url 'verify' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
            {% if phone %}
                <input id="id_phone" name="phone" type="hidden" value="{{ phone }}"/>
                <legend><span class="col-sm-offset-1">Vi har skickat ett SMS med en femsiffrig kod till telefonnummer {{ phone }}. Ange koden här.</span></legend>
            {% else %}
                {{ form.phone.as_hidden }}
            {% endif %}

    <div class="form-group {% if form.code.errors %}has-error{% endif %}">
        <label for="{{ form.code.id_for_label }}" class="col-sm-2 control-label">Kod: </label>
        <div class="col-sm-10 ">
            {{ form.code }}
            {% if form.code.errors %}
                <span class='text-danger'>{{ form.code.errors|join:'<br />' }}</span>
            {% endif %}
            {% if form.code.help_text %}
                <span class="help-block ">{{ form.code.help_text }}</span>
            {% endif %}
        </div>
    </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Slutför registrering</button>
                  &nbsp;<button type="reset" class="btn">Avbryt</button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>
{% endblock %}
